header {
    background-image: url('../img/bcImg.png');
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 25px;

    .header__wrapeer {
        display: flex;
        padding-top: calc(30px + (200 - 140) * ((100vw - 320px) / (1400 - 320)));

        img {
            @include adaptiv-imgWidth(421, 102);
            @include adaptiv-imgHeight(408, 100);
        }

        .header__description {
            color: #FFFF;
            font-family: "Golos-Text_Regular";
            font-style: normal;
            margin-left: 10vw;
            margin-top: 10px;

            .open {
                color: #00FF00;
            }

            .close {
                color: #FF0000;
            }

            span {
                font-weight: 900;
            }

            h1 {
                // line-height: calc(40px + 36 *(100vw / 1408));
                // font-size: calc(40px + 35 *(100vw / 1408));
                @include adaptiv-line(76, 40);
                @include adaptiv-font(75, 40);
                width: 50vw;
            }

            p {
                @include adaptiv-font(22, 20);
                @include adaptiv-line(34, 27);
                margin-top: 55px;
                width: 40vw;
            }

            a {
                color: #FFFF;
                font-family: "Golos-Text_Regular";
            }
        }
    }
}


@media (max-width: 1028px) {

    .header {
        min-height: 500px;

        .header__wrapeer {
            .header__description {
                h1 {
                    width: 85vw;
                }
        
                p {
                    width: 85vw
                }
            }
            img {
                position: relative;
                right: 250px;
                opacity: .9;
            }    
        }
    }
}

@media (min-width: 2160px) {
    header {
        background-image: url('../img/bcImgBig.png');
    }
}